body{
  background:url("https://taiko-ch.net/images/common/bg.jpg");
}


*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.header-container{
display: flex;
align-items: center;
justify-content: center;
background:url("https://taiko-ch.net/images/common/bg_header.png");
}

.icon-image{
  display: flex;

}

.image-i1 img{
 width: 30px;
}

.title-image img{
  width:100%;
}
.character-image img{
  width: 100%;
}

.nav-container{
  display: flex;
  justify-content: center;

  background:RGB(255, 215, 31);
  padding-top:20px;
  padding-bottom:20px;

 

}

.nav-items img{
  width:50%;

  
  

}

.nav-1{
  display: flex;
}
.nav-2{
  display: flex;
}

.tab-menu{
  display: flex;
  justify-content: center;
  align-items: center;

}

.main1{
  margin-top:20px;

}

.tab img {
  width:70%;
  text-align: center;
}

.tab {
  margin-left:10px;
  background:#ffd71f;
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;

}

.main-banner{
  text-align: center;
  margin-top:20px;

}
.main-banner img {
  width:78%;
  border:7px solid #ffd71f;
  background:white; 

}


.line1{
  display: flex;
  justify-content: center;
}

.line2{
  display: flex;
  justify-content: center;
}

.taiko1{
  display: flex;
}
.taiko2{
  display: flex;
}
.taiko3{
  display: flex;
}
.taiko4{
  display: flex;
}


.line3{
  display: flex;
  justify-content: center;
}
.taiko5{
  display: flex;
}

.taiko6{
  display: flex;
}

.taiko-image{
  margin-left:9px;
  margin-right:9px;
  margin-top:10px;
  margin-bottom:10px;
   border:7px solid #ffd71f;
   


}

.taiko-image img{
  width:100%;
}

.image-i1{
  margin-left:10px;
}


@media screen and (max-width:950px){
  .nav-1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    text-align: center;
  }
  .nav-2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    text-align: center;
  }
   .tab-menu :nth-child(1){
     width:70%;
  }
  .tab-menu :nth-child(2){
    display: none;
  }
  .tab-menu :nth-child(3){
    display: none;
  }
  .taiko1{
    flex-direction: column;
  }
  .taiko2{
    flex-direction: column;
  }
   .taiko3{
    flex-direction: column;
  }
   .taiko4{
    flex-direction: column;
  }
   .taiko5{
    flex-direction: column;
  }
   .taiko6{
    flex-direction: column;
  }
  
  .line1{
    justify-content: space-evenly;
    flex-direction: column;
  }
  .line2{
    justify-content: space-evenly;
       flex-direction: column;
  }
  .line3{
    justify-content: space-evenly;
       flex-direction: column;
  }
  .line4{
    justify-content: space-evenly;
       flex-direction: column;
  }
  
}
